body {
	overflow: hidden;
}
body:before{
	content: "";
    display: inline-block;
    height: 100vh;
    width: 0;
    vertical-align: middle;
}
.container {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}